In [1]:
import numpy as np
import pandas as pd

In [2]:
dfm = pd.read_csv('municipios.csv')
dfm

       codigo  uf                municipio               municipio2
0     1100015  RO    Alta Floresta D'Oeste     ALTA FLORESTA DOESTE
1     1100379  RO  Alto Alegre dos Parecis  ALTO ALEGRE DOS PARECIS
2     1100403  RO             Alto Paraíso             ALTO PARAISO
3     1100346  RO         Alvorada D'Oeste          ALVORADA DOESTE
4     1100023  RO                Ariquemes                ARIQUEMES
...       ...  ..                      ...                      ...
5565  5222302  GO            Vila Propício            VILA PROPICIO
5566  5200175  GO       Água Fria de Goiás       AGUA FRIA DE GOIAS
5567  5200209  GO               Água Limpa               AGUA LIMPA
5568  5200258  GO    Águas Lindas de Goiás    AGUAS LINDAS DE GOIAS
5569  5300108  DF                 Brasília                 BRASILIA

[5570 rows x 4 columns]

In [3]:
excecoes = [
    [2922250, 'BA', 'MUQUEM DE SAO FRANCISCO'],
    [2928505, 'BA', 'SANTA TERESINHA'],
    [9999999, 'EX', 'EXTERIOR'],
    [5203500, 'GO', 'BOM JESUS'],
    [2108504, 'MA', 'PINDARE MIRIM'],
    [3102506, 'MG', 'AMPARO DA SERRA'],
    [3105509, 'MG', 'BARAO DO MONTE ALTO'],
    [3108909, 'MG', 'BRASOPOLIS'],
    [3150539, 'MG', 'PINGO DAGUA'],
    [1502954, 'PA', 'ELDORADO DOS CARAJAS'],
    [1506500, 'PA', 'SANTA ISABEL DO PARA'],
    [3303807, 'RJ', 'PARATI'],
    [2400208, 'RN', 'ASSU'],
    [2405306, 'RN', 'BOA SAUDE'], # Januário Cicco
    [4306932, 'RS', 'ENTRE IJUIS'],
    [4212809, 'SC', 'BALNEARIO DE PICARRAS'],
    [2800100, 'SE', 'AMPARO DE SAO FRANCISCO'],
    [2802601, 'SE', 'GRACCHO CARDOSO'],
    [3506607, 'SP', 'BIRITIBA-MIRIM'],
    [3530706, 'SP', 'MOGI-GUACU'],
    [1706001, 'TO', 'COUTO DE MAGALHAES'],
    [1708254, 'TO', 'FORTALEZA DO TABOCAO'], # Tabocão
    [1720499, 'TO', 'SAO VALERIO DA NATIVIDADE'] # São Valério
]
#excecoes

In [4]:
dfe = pd.DataFrame(excecoes, columns=['codigo', 'uf', 'municipio'])
#dfe

In [5]:
dfm = dfm.set_index('codigo').join(dfe.set_index('codigo'), rsuffix='e', how='outer')
dfm['uf'] = dfm['uf'].fillna(dfm['ufe'])
for col in ['municipio', 'municipio2']:
    dfm[col] = dfm[col].fillna(dfm['municipioe'])
dfm['municipio3'] = dfm['municipioe']
for col in ['municipio3']:
    dfm[col] = dfm[col].fillna(dfm['municipio2'])
dfm.drop(['ufe', 'municipioe'], axis=1, inplace=True)
dfm

         uf              municipio            municipio2            municipio3
codigo
1100015  RO  Alta Floresta D'Oeste  ALTA FLORESTA DOESTE  ALTA FLORESTA DOESTE
1100023  RO              Ariquemes             ARIQUEMES             ARIQUEMES
1100031  RO                 Cabixi                CABIXI                CABIXI
1100049  RO                 Cacoal                CACOAL                CACOAL
1100056  RO             Cerejeiras            CEREJEIRAS            CEREJEIRAS
...      ..                    ...                   ...                   ...
5222054  GO         Vicentinópolis        VICENTINOPOLIS        VICENTINOPOLIS
5222203  GO               Vila Boa              VILA BOA              VILA BOA
5222302  GO          Vila Propício         VILA PROPICIO         VILA PROPICIO
5300108  DF               Brasília              BRASILIA              BRASILIA
9999999  EX               EXTERIOR              EXTERIOR              EXTERIOR

[5571 rows x 4 columns]

In [6]:
dfp = pd.read_csv('populacoes.csv')
dfp

,codigo,p2014,p2015,p2016,p2017,p2018,p2019,p2020,p2021,p2022,p2023,p2024
0,1100015,25652,25578,25506,25437,23167,22945,22728,22516,21718,21169,20619
1,1100379,13884,13940,13993,14045,13227,13241,13255,13268,13027,12898,12770
2,1100403,19841,20210,20569,20916,20999,21428,21847,22258,22495,22826,23156
3,1100346,17228,17063,16902,16747,14722,14411,14106,13807,13039,12465,11891
4,1100023,102860,104401,105896,107345,106168,107863,109523,111148,111633,112685,113737
...,...,...,...,...,...,...,...,...,...,...,...,...
5565,5222005,13343,13456,13567,13675,13746,13863,13977,14088,14184,14289,14393
5566,5222054,8053,8171,8286,8397,8611,8743,8873,9002,9145,9285,9425
5567,5222203,5371,5495,5615,5731,6026,6171,6312,6451,6625,6787,6949
5568,5222302,5520,5578,5635,5690,5758,5821,5882,5941,6000,6061,6122
5569,5300108,2852372,2914830,2977216,3039444,2974703,3015268,3055149,3094325,3121378,3150481,3179585

In [7]:
dfd = pd.read_csv('declaracoes.csv')
dfd

      uf       municipio  d2021  d2022  d2023  d2024
0     AC      ACRELANDIA    774    833    956   1039
1     AC    ASSIS BRASIL    530    515    594    622
2     AC       BRASILEIA   2000   2217   2607   2623
3     AC          BUJARI    551    625    700    743
4     AC        CAPIXABA    387    473    590    652
...   ..             ...    ...    ...    ...    ...
5566  TO  TOCANTINOPOLIS   2340   2404   2846   3130
5567  TO        TUPIRAMA    171    193    219    246
5568  TO      TUPIRATINS    123    135    150    173
5569  TO    WANDERLANDIA    555    617    724    811
5570  TO         XAMBIOA   1025   1074   1364   1485

[5571 rows x 6 columns]

In [8]:
dfmp = dfm.join(dfp.set_index('codigo'))
dfmp.fillna(0, inplace=True)
for col, dtype in dfmp.dtypes.items():
    if dtype == 'float64':
        dfmp[col] = dfmp[col].astype(np.int32)
dfmp

,uf,municipio,municipio2,municipio3,p2014,p2015,p2016,p2017,p2018,p2019,p2020,p2021,p2022,p2023,p2024
codigo,,,,,,,,,,,,,,,
1100015,RO,Alta Floresta D'Oeste,ALTA FLORESTA DOESTE,ALTA FLORESTA DOESTE,25652,25578,25506,25437,23167,22945,22728,22516,21718,21169,20619
1100023,RO,Ariquemes,ARIQUEMES,ARIQUEMES,102860,104401,105896,107345,106168,107863,109523,111148,111633,112685,113737
1100031,RO,Cabixi,CABIXI,CABIXI,6424,6355,6289,6224,5438,5312,5188,5067,4766,4539,4312
1100049,RO,Cacoal,CACOAL,CACOAL,86556,87226,87877,88507,84813,85359,85893,86416,85568,85343,85118
1100056,RO,Cerejeiras,CEREJEIRAS,CEREJEIRAS,18013,17986,17959,17934,16444,16323,16204,16088,15576,15234,14891
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5222054,GO,Vicentinópolis,VICENTINOPOLIS,VICENTINOPOLIS,8053,8171,8286,8397,8611,8743,8873,9002,9145,9285,9425
5222203,GO,Vila Boa,VILA BOA,VILA BOA,5371,5495,5615,5731,6026,6171,6312,6451,6625,6787,6949
5222302,GO,Vila Propício,VILA PROPICIO,VILA PROPICIO,5520,5578,5635,5690,5758,5821,5882,5941,6000,6061,6122
5300108,DF,Brasília,BRASILIA,BRASILIA,2852372,2914830,2977216,3039444,2974703,3015268,3055149,3094325,3121378,3150481,3179585
9999999,EX,EXTERIOR,EXTERIOR,EXTERIOR,0,0,0,0,0,0,0,0,0,0,0

In [9]:
df = dfmp.reset_index().set_index(['uf', 'municipio3']).join(
    dfd.rename({'municipio': 'municipio3'}, axis=1).set_index(['uf', 'municipio3']),
    how='right')
df

                    codigo       municipio      municipio2  p2014  p2015  \
uf municipio3
AC ACRELANDIA      1200013      Acrelândia      ACRELANDIA  13613  13869
   ASSIS BRASIL    1200054    Assis Brasil    ASSIS BRASIL   6610   6738
   BRASILEIA       1200104       Brasiléia       BRASILEIA  23378  23849
   BUJARI          1200138          Bujari          BUJARI   9173   9339
   CAPIXABA        1200179        Capixaba        CAPIXABA  10170  10498
...                    ...             ...             ...    ...    ...
TO TOCANTINOPOLIS  1721208  Tocantinópolis  TOCANTINOPOLIS  23153  23141
   TUPIRAMA        1721257        Tupirama        TUPIRAMA   1751   1782
   TUPIRATINS      1721307      Tupiratins      TUPIRATINS   2402   2461
   WANDERLANDIA    1722081    Wanderlândia    WANDERLANDIA  11509  11566
   XAMBIOA         1722107         Xambioá         XAMBIOA  11722  11709

                   p2016  p2017  p2018  p2019  p2020  p2021  p2022  p2023  \
uf municipio3
AC ACRELANDIA      14120  14366  15020  15256  15490  15721  16124  16444
   ASSIS BRASIL     6863   6986   7300   7417   7534   7649   7845   8003
   BRASILEIA       24311  24765  25848  26278  26702  27123  27824  28389
   BUJARI           9503   9664  10111  10266  10420  10572  10841  11055
   CAPIXABA        10820  11136  11456  11733  12008  12280  12622  12924
...                  ...    ...    ...    ...    ...    ...    ...    ...
TO TOCANTINOPOLIS  23130  23119  22896  22870  22845  22820  22738  22681
   TUPIRAMA         1813   1843   1860   1891   1922   1952   1978   2006
   TUPIRATINS       2518   2574   2613   2671   2729   2785   2836   2890
   WANDERLANDIA    11622  11677  11631  11683  11734  11783  11805  11840
   XAMBIOA         11695  11683  11561  11540  11520  11500  11450  11414

                   p2024  d2021  d2022  d2023  d2024
uf municipio3
AC ACRELANDIA      16765    774    833    956   1039
   ASSIS BRASIL     8160    530    515    594    622
   BRASILEIA       28954   2000   2217   2607   2623
   BUJARI          11268    551    625    700    743
   CAPIXABA        13226    387    473    590    652
...                  ...    ...    ...    ...    ...
TO TOCANTINOPOLIS  22624   2340   2404   2846   3130
   TUPIRAMA         2034    171    193    219    246
   TUPIRATINS       2943    123    135    150    173
   WANDERLANDIA    11874    555    617    724    811
   XAMBIOA         11377   1025   1074   1364   1485

[5571 rows x 18 columns]

In [10]:
df = df.reset_index().set_index('codigo')
df

,uf,municipio3,municipio,municipio2,p2014,p2015,p2016,p2017,p2018,p2019,p2020,p2021,p2022,p2023,p2024,d2021,d2022,d2023,d2024
codigo,,,,,,,,,,,,,,,,,,,
1200013,AC,ACRELANDIA,Acrelândia,ACRELANDIA,13613,13869,14120,14366,15020,15256,15490,15721,16124,16444,16765,774,833,956,1039
1200054,AC,ASSIS BRASIL,Assis Brasil,ASSIS BRASIL,6610,6738,6863,6986,7300,7417,7534,7649,7845,8003,8160,530,515,594,622
1200104,AC,BRASILEIA,Brasiléia,BRASILEIA,23378,23849,24311,24765,25848,26278,26702,27123,27824,28389,28954,2000,2217,2607,2623
1200138,AC,BUJARI,Bujari,BUJARI,9173,9339,9503,9664,10111,10266,10420,10572,10841,11055,11268,551,625,700,743
1200179,AC,CAPIXABA,Capixaba,CAPIXABA,10170,10498,10820,11136,11456,11733,12008,12280,12622,12924,13226,387,473,590,652
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1721208,TO,TOCANTINOPOLIS,Tocantinópolis,TOCANTINOPOLIS,23153,23141,23130,23119,22896,22870,22845,22820,22738,22681,22624,2340,2404,2846,3130
1721257,TO,TUPIRAMA,Tupirama,TUPIRAMA,1751,1782,1813,1843,1860,1891,1922,1952,1978,2006,2034,171,193,219,246
1721307,TO,TUPIRATINS,Tupiratins,TUPIRATINS,2402,2461,2518,2574,2613,2671,2729,2785,2836,2890,2943,123,135,150,173
1722081,TO,WANDERLANDIA,Wanderlândia,WANDERLANDIA,11509,11566,11622,11677,11631,11683,11734,11783,11805,11840,11874,555,617,724,811
1722107,TO,XAMBIOA,Xambioá,XAMBIOA,11722,11709,11695,11683,11561,11540,11520,11500,11450,11414,11377,1025,1074,1364,1485

In [12]:
#df.loc[3550308].to_frame()